build --incompatible_strict_action_env

build --bes_results_url=https://app.buildbuddy.io/invocation/
build --bes_backend=grpcs://remote.buildbuddy.io
build --remote_cache=grpcs://remote.buildbuddy.io
build --remote_timeout=3600
build --remote_executor=grpcs://remote.buildbuddy.io

build --host_platform=@buildbuddy_toolchain//:platform_linux
build --platforms=@buildbuddy_toolchain//:platform_linux
build --extra_execution_platforms=@buildbuddy_toolchain//:platform_linux

build --crosstool_top=@buildbuddy_toolchain//:ubuntu_cc_toolchain_suite
build --extra_toolchains=@buildbuddy_toolchain//:ubuntu_cc_toolchain

# Needed to cross-build from MacOS laptop to Linux Executor RBE
build --cpu=k8
build --host_cpu=k8

# Example user.bazelrc
# build --remote_header=x-buildbuddy-api-key=aaaabbbbbxxxxcccc
try-import %workspace%/user.bazelrc
